.action-menu-item {
  line-height: 26px;
  font-size: 18px;
  background-color: #777;
  padding: 23px 32px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #2e2e2e25;
  }
  &:hover {
    cursor: pointer;
    color: #ff963c;
  }
}
