.banner {
  display: grid;
  grid-template-columns: 540px auto;
  background-color: #2e2e2e;
  .progress-img {
    position: relative;
    img {
      display: block;
      object-fit: cover;
    }
  }
}
