.badge {
  width: 56px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  color: #ffcc21;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 15px;
  &:not(:first-child) {
    margin-left: 16px;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
  }
  .active {
    background-color: #ffcc21;
    color: #fff;
  }
}
