@import "../../../assets/styles/index.scss";
.header {
  background-color: $primary;
  height: 64px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    font-size: 16px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-list {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      &__item {
        display: flex;
        align-items: center;
        color: white;
        margin-left: 32px;
        &:hover {
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-right: 24px;
        }
        span {
          margin-left: 8px;
        }
      }
    }
  }
}
