.card-text {
  width: 231px;
  height: 231px;
  border: 2px solid #070707;
  color: #414141;
  padding: 16px 15px 27px 16px;
  .title {
    font-size: 18px;
    line-height: 22px;
  }
  .main-content {
    margin-top: 8px;
    line-height: 17px;
    font-size: 12px;
    div:last-child {
      text-overflow: ellipsis;
    }
  }
}
