$primary: #414141;
$secondary: #ff963c;
$yellow: #ffcc21;
$button: linear-gradient(32.95deg, $yellow 8.75%, $secondary 86.64%);
$font-noto: url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
