.footer {
  padding-left: 160px;
  background: #777;
  ul {
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    height: 128px;
    li {
      margin-left: 45px;
      &:hover a {
        color: #ff963c;
      }
      &:nth-child(4) {
        margin-left: 44px;
      }
      &:nth-child(5) {
        margin-left: 46px;
      }
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
